<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /uas_manajemen_barang/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]
</IfModule>
